.Landing {
  display: flex;
  color: white;
  background-image: url("../../assets/Background.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: relative;
}

.landing-image {
  height: 200px;
  width: 400px;
}

.Landing-header {
  position: absolute;
  font-size: 60px;
  top: 30%;
  font-family: "Space Grotesk", sans-serif;
}
.Landing-header-sec {
  color: #04d9ff;
}
