.admin-question {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.questions-container {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  width: 100%;
}

.question-card {
  position: relative;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.admin-wrapper {
  width: 90%;
}

.question-text {
  width: 50%;
}

.answer-text {
  width: 40%;
}

.question-card:hover {
  background-color: #f1f1f1;
}

.add-question {
  position: absolute;
  height: 30px;
  width: 80px;
  font-size: 14px;
  right: 5%;
  top: 20px;
  background-color: #1e88e5;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  transition: all 1s;
}

.add-question:hover {
  background-color: #1565c0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 40px;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.question-modal-content {
  background-color: #fff;
  position: relative;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.question-modal-form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.modal-btn {
  border-radius: 5px;
  border: none;
  background-color: #1e88e5;
  height: 20px;
  color: white;
  cursor: pointer;
  transition: all 1s;
}

.modal-btn:hover {
  background-color: #1565c0;
}
