.Dashboard {
  width: 100vw;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: start;
  margin-left: 100px;
}

.Dashboard-items {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding: 50px 0;
}
.Dashboard-container {
  background-color: #5a9bd3;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 10px 0px;
}

.Dashboard-progress {
  grid-column: span 2;
  padding: 10px 0;
}

.Dashboard-detail-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Course-completion {
  overflow-y: auto;
}
