.quiz {
  width: 100vw;
}

.quiz-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.quiz-header {
  text-align: center;
  font-size: 40px;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  background-color: #5a9bd3;
  width: 400px;
  border-radius: 12px;
  justify-content: start;
  align-items: center;

  padding: 0 10px 50px;
  position: relative;
  gap: 10px;
}

.quiz-container input {
  height: 20px;
  width: 15px;
  cursor: pointer;
}

.quiz-detail {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 20px;
  align-items: start;
  justify-content: start;
}

.quiz-btn {
  /* position: absolute;
  bottom: 2%;
  right: 5%; */
}

.quiz-opt {
  display: flex;
  align-items: start;
  justify-content: start;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.quiz-opt:hover {
  background-color: #197cdf;
}
.highlighted {
  background-color: #197cdf;
}
