.quiz {
  width: 100vw;
}

.quiz-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
}

.quiz-header {
  text-align: center;
  font-size: 40px;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  background-color: #5a9bd3;
  width: 400px;
  border-radius: 12px;
  justify-content: start;
  align-items: start;
  padding: 0 10px 50px;
  position: relative;
  gap: 20px;
}

.quiz-container input {
  height: 20px;
  width: 15px;
  cursor: pointer;
}

.quiz-detail {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.quiz-btn {
  position: absolute;
  bottom: 2%;
  right: 5%;
}
