.profile {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: white;
  width: 100%;
  max-width: 450px;
  border-radius: 12px;
  padding: 30px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #d6d6d6;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 100%;
  font-size: 18px;
  height: 100%;
}

.profile-info label {
  color: #1a237e;
  font-weight: 600;
  width: 70px;
}

.disabled {
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  max-width: 100%;
  white-space: normal;
  word-wrap: break-word;
  outline: none;
  color: #212121;
  background-color: white;
  border: none;
}

.editable {
  width: 50%;
  border: 1px solid #ccc;
  background-color: white;
  cursor: text;
  height: 20px;
  border-radius: 12px;
  padding: 5px;
  font-size: 18px;
}

.courses-container {
  display: inline;
}

/* .profile-btns {
  display: flex;
  width: 40%;
  justify-content: space-between;
  } */

.btns-container {
  display: flex;
  gap: 20px;
}

.cancel {
  background-color: #e0e0e0;
  color: #212121;
}
.cancel:hover {
  background-color: #bdbdbd;
}
