.profile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #5a9bd3;
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  padding: 30px;
  overflow: hidden;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 100%;
  font-size: 18px;
  height: 30px;
}

.profile-info label {
  color: #0d47a1;
  font-weight: 600;
}

.disabled {
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  max-width: 45%;
  white-space: nowrap;
  word-wrap: break-word;
  outline: none;
  color: white;
  background-color: #5a9bd3;
  border: none;
}

.editable {
  width: 50%;
  border: 1px solid #ccc;
  background-color: white;
  cursor: text;
  height: 20px;
  border-radius: 12px;
  padding: 5px;
  font-size: 18px;
}

.courses-container {
  display: flex;
  gap: 5px;
}

/* .profile-btns {
  display: flex;
  width: 40%;
  justify-content: space-between;
  } */

.btns-container {
  display: flex;
  gap: 20px;
}

.cancel {
  background-color: rgb(231, 22, 22);
}
