.Landing-card {
  background-color: rgb(48, 48, 48);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  padding-top: 40px;
  height: 400px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.card-back {
  height: 450px;
  width: 350px;
}

label,
.card-header {
  color: white;
}

.card-header {
  text-align: center;
  margin: 0;
}

.card-input {
  width: 250px;
  height: 30px;
  background-color: rgb(82, 82, 82);
  border: 1px solid rgb(95, 95, 95);
  outline: none;
  color: white;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-btn {
  width: 110px;
  height: 40px;
  font-size: 16px;
  background: linear-gradient(120deg, white, #04d9ff);
  border: none;
  font-weight: 600;
}

.card-btn:hover {
  cursor: pointer;
}
