.enroll {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  padding: 20px;
}

.enroll-container {
  display: flex;
  align-items: center;
  margin-right: 30px;
  gap: 40px;
}

.enroll-desc {
  flex: 1;
  line-height: 1.5;
  font-size: 18px;
}

.enroll-img {
  flex: 1;
  height: 400px;
  max-width: 100%;
}

.enroll-btn {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  background-color: #0369df;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: all 1s;
}

.enroll-btn:hover {
  background-color: #088ce4;
}
