.Navbar-sec {
  width: 100vw;

  font-size: 20px;
  background-color: #007bff;

  z-index: 2;
  position: fixed;
  top: 0;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.nav-logo {
  height: 80px;
  width: 80px;
}

.nav-first {
  background-color: transparent;
}
.nav-sign-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #1e90ff;
  height: 45px;
  width: 100px;
  border: none;
  border-radius: 35px;
  font-size: 18px;
  text-decoration: none;

  transition: all 1s;
}

.nav-sign-btn:hover {
  cursor: pointer;
  background-color: #187bcd;
}
