.course {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
}

.course-container {
  display: flex;
  width: 270px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #5a9bd3;
  margin-top: 100px;
  padding: 10px;
  border-radius: 8px;
  transition: all 1s;
}
.course-link {
  text-decoration: none;
  color: black;
}

.course-container:hover {
  cursor: pointer;
}

.course-image {
  height: 200px;
  width: 100%;
  border-radius: 12px;
}

.course-container:hover {
  transform: translateY(-10px);
}
