.course {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.course-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #5a9bd3;
  margin-top: 100px;
  padding: 0 30px;
  border-radius: 12px;
}

.course-container:hover {
  cursor: pointer;
}

.course-image {
  height: 200px;
  width: 100%;
  border-radius: 12px;
}
