.course {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
}

.course-container {
  display: flex;
  width: 270px;
  height: 250px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #d6d6d6;
  margin-top: 50px;
  padding: 10px;
  border-radius: 8px;
  transition: all 1s;
  cursor: pointer;
  position: relative;
}

.course-link {
  text-decoration: none;
  color: black;
}

.course-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.course-image {
  height: 200px;
  width: 100%;
  border-radius: 12px;
}

.course-container:hover {
  transform: translateY(-10px);
}

.course-name {
  color: #1a237e;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .course-container {
    width: 230px;
    height: 220px;
  }
}

@media (max-width: 992px) {
  .course-container {
    width: 200px;
    height: 200px;
  }

  .course {
    gap: 30px;
  }
  .course-name {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .course-container {
    width: 180px;
    height: 180px;
  }

  .course {
    gap: 20px;
  }
  .course-name {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .course-container {
    width: 150px;
    height: 150px;
  }

  .course {
    gap: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .course-name {
    font-size: 14px;
  }
}
