.reset {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: #e3f2fd;
}
.reset-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: rgb(8, 6, 6);
  border-radius: 8px;
  height: 400px;
  width: 300px;
}
