.Layout {
  display: flex;
  justify-content: space-between;
}

.main-content {
  margin-left: 200px;
  padding: 20px;
  width: 80%;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    padding: 20px;
  }
}
